.py-px {
    padding: 8px 8px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.border:hover {
    border: 1px solid white;
    border-radius: 2px;
    border: 1px solid white;
    cursor: pointer;
}

.nav-first-boldtext-fontsize {
    font-size: 0.88rem;
}